<table>
	<tr>
		<td><strong>Username</strong></td>
  	<td><strong>First Name</strong></td>
  	<td><strong>Last Name</strong></td>
  	<td><strong>Email</strong></td>
  </tr>
 <% @usersTable.each do |k| %>
    <tr>
    	<td><%= k[:username] %></td>
    	<td><%= k[:firstName] %></td>
    	<td><%= k[:lastName] %></td>
    	<td><%= k[:email] %></td>
    </tr>
  <% end %>
</table>