<h1><center>InvestI's Home Page!</center></h1>
<p>Click <a href="http://gzgracez.github.io/trinityinvestmentclub/" class="href">here</a> to go to Trinity's Investment Club's Home Page!</p>
<p>Click <a href="/stocks" class="href">here</a> to view all stocks!</p>
<p>Click <a href="/stocks/new" class="href">here</a> to add a stock!</p>
<p>Click <a href="/tasks" class="href">here</a> to view all tasks!</p>
<p>Click <a href="/tasks/new" class="href">here</a> to create a task!</p>
<img src="/images/arrowB.svg" width="100%">