	<label for="ticker">Stock Ticker:</label>
	<input type="text" name="stocks[ticker]" value="<%=@stocks.ticker%>" placeholder="Ticker" ><br>
	<label for="details">Details:</label>
	<span><textarea name="stocks[details]" placeholder="Details" ><%=@stocks.details%></textarea></span><br>
	<label for="details">Date (mm/dd/yyyy):</label>
	<input type="text" name="stocks[date]" 
		<% if @stocks.date %>
			value="<%=@stocks.date.strftime("%m/%d/%Y")%>"  
		<% else %>
			value="<%=Date.today.strftime("%m/%d/%Y")%>"
		<% end %>
		placeholder="Date"><br>
	<input type="submit" value="Submit">
</form>