$body-font: "Trebuchet MS", Helvetica, sans-serif;
$navy: #000084;
$lighterNavy: #0000d3;
$yellow: #dcdd63;
$gray: #F8F8F8;

html, body {
    height: 100%;
    width: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
      top:0;
}

body, nav {
	font-family: $body-font;
	color: $navy;
	background-color: $gray;
}

body {
	a {
		text-decoration: underline;
	}
}

nav {
	a {
		text-decoration: none;
		color: $navy;
	}
}

a {
	color: $lighterNavy;
	&:hover{
		color: #00B7FF;
	}
	.cNavbar{
		color: $navy;
	}
	.navbar-brand{
		color: $navy;
	}
	#navbar, .navbar-nav, .nav, .icon-bar, .navbar-default{
		color: $navy;
		background-color: $navy;
	}
}

p, a, li, label{
	font-size: 20px;
}

form{
	label{
		display: inline-block;
		float:left;
	}
}

.bodyText{
	padding-top: 70px;
	height: 100%;
}

.container {
	// height: 100%;
}

.icon-bar{
	background-color: $navy;
}